<header>
  <nav>
    <%= link_to "Dev News", root_path, class: "logo" %>

    <div class="navlinks">
      <%= link_to "newest", newest_path %>
      <%= link_to "comments", comments_path %>

      <% unless logged_in? %>
        <%= link_to "signup", new_user_path %>
        <%= link_to "login", new_session_path %>
      <% end %>

      <% if logged_in? %>
        <%= link_to "submit a link", new_link_path %>
        <%= button_to "logout", session_path, method: :delete, class: "btn btn-link p-0", form_class: "d-inline" %>
      <% end %>
    </div>
  </nav>
</header>
